body{
    background-color:#0a061d;
    color: white;
    padding: 10px;
    margin: auto;
}
header{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.definition{
    display: flex;
    flex-direction: column;
}